.Header {
	display: flex;
	justify-content: end;
	flex-direction: row;
	align-items: center;
	background: linear-gradient(to bottom,#CFD8BA, #387B5C, #013832);
  	padding: 20px 0;
	max-height: 10vh;
	padding: 1vh 5vh;
}

.Header img{
	max-width: 10vh;
}